body{
    background-color: cornsilk;
}
h1{
    color: brown;
    text-align: center;
    font-family: cursive;
}
#output{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin-top: 20px;
    background-color: cornsilk;
}
.button{
    border: 5px;
    background-color: powderblue; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 30em;
    margin-top: 40px;
    border-radius: 12px;
}
.boton{
    border: 2px solid black;
    font-size: large;
    font-weight: 800;   
}